<style>
body
{
    background-image: url("images/blog.jpg");
    background-repeat: no-repeat;
	opacity:0.8;
    background-size: 100%; 
    padding-bottom: 75px;
	background-attachment: fixed;
}
strong
{
 background-color:skyblue;
}
table
{
 background-color:honeydew;
}
</style>
<div class="container">
	<form name="blogpostform" class="form-horizontal" >
<div class="form-group">
<label class="control-label col-sm-2"><strong>Enter Blog Title</strong></label>
				<div class="col-sm-4">
 <input type="text" ng-model="blogPost.blogTitle" class="form-control">
</div>
</div>

<div class="form-group">
<label class="control-label col-sm-2"><strong>Enter Description</strong></label>
				<div class="col-sm-8">
<textarea rows="5" cols="20" ng-model="blogPost.description" class="form-control">
</textarea>
</div>
</div>
<div class="form-group">
				
				<div class="col-sm-offset-2 col-sm-4">
<input type="submit" ng-click="addBlogPost()" value="Add Blog Post">
</form>
</div>
</div>

<div class="container">
	<form name="blogpostapprovalform" class="form-horizontal" >
<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">

<div ng-show="currentUser.role=='ADMIN'">
List of Blog Posts waiting for approval<br>
<table class="table">
<thead>
<tr><th><ins>Title</ins></th><th><ins>Author</ins></th><th><ins>Posted On</ins></th></tr>
</thead>
<tbody>
<tr ng-repeat="blog in blogPostsWaitingForApproval">
<td><a href="#/getblogpostbyid/{{blog.id}}">{{blog.blogTitle}}</a></td><td>{{blog.postedBy.username}}</td><td>{{blog.postedOn | date:'yyyy/MM/dd'}}</td>
</tr>
</tbody>
</table>
</div>






List of Blog Posts which are approved<br>
<table class="table">
<thead>
<tr><th><ins>Title</ins></th><th><ins>Author</ins></th><th><ins>Posted On</ins></th></tr>
</thead>
<tbody>
<tr ng-repeat="blog in blogPostsApproved">
<td><a href="#/getblogpostbyid/{{blog.id}}">{{blog.blogTitle}}</a></td><td>{{blog.postedBy.username}}</td><td>{{blog.postedOn | date:'yyyy/MM/dd'}}</td>
</tr>
</tbody>
</table>

</div>
</div>
</form>
</div>