<style>

h1
{
    color: black;
}

h4
{
    color: black;
    
    
}
</style>

<div class="container-fluid">
 
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        
          <img src="images/home1.jpg" alt="Lights" style="width:100%">
         
      
      </div>
    </div>
       <h1 align="center" ><ins>WHO WE ARE</ins></h1>
       
       <div><br></div>
       <div><br></div>
    <div class="col-md-6">
      
      
    
         
       <h4><strong>Jobwala.com</strong> is an Indian job portal operating in India founded in september 2016.[2]

Jobwala.com was founded by NIIT Student named Sridhar Marri.Jobwala.com had put target of about 1 lakh  registered job seekers by this year and an average of about 100 resumes were added daily while number of resumes were modified daily during every day.</h4>
      </div>
       <div class="col-md-6">
      <h4  > In the upcoming  Fiscal year ,we put target of 5000 corporate customers (including hiring consultants/firms) paid Jobwala.com for services like database access, advertising / listing on the site amongst others.Check out various blogs, join some Forum discussions, ask Questions, make new Friends, hunt for Jobs, keep an eye on the Events happening</h4>
      </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        
          <img src="images/grass.jpg" alt="Lights" style="width:100%">
         
      
      </div>
    </div>
    </div>
  
	
	

 
    